<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="light">
<head>
	<title>BonApart - Аренда квартир.</title>

		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="bonapart.com">
		<meta name="description" content="BonApart - Аренда квартир.">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.css" rel="stylesheet">

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

		<!-- Plugins CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/glightbox.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/choices.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/tiny-slider.css' %}">

		    <!-- Reset CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
			<!-- Font Awesome CSS  -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

		<link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />


		<!-- Theme CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <style>
        .nav-pills-primary-soft .nav-link.active, .nav-pills-primary-soft .nav-link:hover {
          color: green;
          background-color: #d2f4d2;
        }
        .icon-lg.btn.btn-round.btn-primary.mb-0 {
          background-color: green;
          border-color: green;
        }
        .btn-primary-soft {
          color: green;
          background-color: rgba(128, 255, 0, 0.1);
        }
        .btn-primary-soft:hover {
          color: white;
          background-color: green;
          border-color: green;
        }
        .btn.btn-primary.mb-0 {
          background-color: #169916;
          border-color: #169916;
        }


    </style>

</head>

<body>
<!--&lt;!&ndash;Start of Tawk.to Script&ndash;&gt;-->
<!--    <script type="text/javascript">-->
<!--        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--        (function(){-->
<!--        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--        s1.async=true;-->
<!--        s1.src='https://embed.tawk.to/65432483f2439e1631eadedd/1he74d9d4';-->
<!--        s1.charset='UTF-8';-->
<!--        s1.setAttribute('crossorigin','*');-->
<!--        s0.parentNode.insertBefore(s1,s0);-->
<!--        })();-->
<!--    </script>-->
<!--    &lt;!&ndash;End of Tawk.to Script&ndash;&gt;-->
<header class="navbar-light py-3" style="padding: 15px;">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container d-block">
			<div class="row align-items-center">
				<div class="col-4">
					<!-- Logo START -->
					<a class="navbar-brand d-flex align-items-center" href="{% url 'website:home' %}">
						<img style="border-radius: 50px;" class="light-mode-item navbar-brand-item" src="{% static 'images/logo.jpg' %}" alt="logo">
						<p style="margin: 0; padding: 0; margin-left: 8px;"><b>BonApart</b></p>
					</a>
					<!-- Logo END -->
				</div>

				<div class="col-8">
					<!-- Navbar top Right-->
					<div class="align-items-center justify-content-end d-none d-lg-flex">
						<ul class="nav border-bottom mb-2">
							<li class="dropdown nav-item">
								<a class="nav-link small pb-2" href="#" role="button" id="languageDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-globe fa-fw me-2"></i>Язык</a>
								<ul class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto" aria-labelledby="languageDropdown">
									<li> <a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="{% static 'images/flags/kz.svg' %}" alt="">Казахский</a> </li>
									<li> <a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="{% static 'images/flags/ru.svg' %}" alt="">Русский</a> </li>
									<li> <a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="{% static 'images/flags/us.svg' %}" alt="">English</a> </li>
								</ul>
							</li>

							<li class="dropdown nav-item">
								<a class="nav-link small pb-2" href="#" role="button" id="citiesDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bi bi-building me-2"></i>Город
								</a>
								<ul class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto" aria-labelledby="citiesDropdown">
									<input style="color: green;" type="text" class="form-control search-input" placeholder="Поиск...">
									<div class="cities-list">
										{% for c in cities %}
										<li><a style="text-align: center;" class="dropdown-item me-4" href="#"><i class="bi bi-building me-2"></i>{{c.name}}</a></li>
										{% endfor %}
									</div>
									<hr>
									<li class="show-more"><a style="text-align: center;" class="dropdown-item me-4" href="#" id="showMoreBtn">Все города</a></li>
								</ul>
							</li>

							<script>
								document.addEventListener('DOMContentLoaded', function() {
									var citiesList = document.querySelector('.cities-list');
									var citiesDropdown = document.getElementById('citiesDropdown');

									// Обработчик события клика на элементы списка городов
									citiesList.addEventListener('click', function(event) {
										var selectedCity = event.target.textContent.trim();
										localStorage.setItem('selectedCity', selectedCity);
										// После изменения города перенаправляем пользователя на страницу с новым выбранным городом
										window.location.href = '/apartments/?selected_city=' + encodeURIComponent(selectedCity);
									});

									// При загрузке страницы проверяем, есть ли уже выбранный город в Local Storage
									var selectedCity = localStorage.getItem('selectedCity');
									if (selectedCity) {
										// Обновляем текст в выпадающем меню с выбранным городом
										citiesDropdown.textContent = selectedCity;
									}
								});
							</script>



							<li class="nav-item"> <a href="#" class="nav-link small pb-2"><i class="bi bi-chat me-2"></i>Сообщения</a> </li>
<!--							<li class="nav-item"> <a href="sign-in.html" class="nav-link small pb-2"><i class="far fa-user me-2"></i>Sign In or Login</a> </li>-->

						</ul>
					</div>

					<div class="d-sm-flex align-items-center justify-content-end mt-1">
						<!-- Main navbar START -->
						<div class="navbar-collapse collapse justify-content-end" id="navbarCategoryCollapse">
							<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center  p-2 p-xl-0" style="margin-right: 10px;">
								<!-- Nav item Hotel -->
								<li class="nav-item"> <a style="color: black;" class="nav-link" href="{% url 'website:home' %}"><i class="fa-solid fa-hotel me-2"></i>Главная</a>	</li>

								<!-- Nav item Cabs -->
								<li class="nav-item"><a style="color: black;" class="nav-link active" href="{% url 'apartments:apartments' %}"><i class="fa-solid fa-building me-2"></i>Квартиры</a></li>


								<li class="nav-item"><a style="color: black;" class="nav-link" href="{% url 'website:transfers' %}"><i class="fa-solid fa-shuttle-van me-2"></i>Трансфер</a></li>


								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" style="color: black;" href="#" id="pagesFacilities" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Дополнительно</a>
									<ul class="dropdown-menu" aria-labelledby="pagesFacilities">
										<li class="dropdown-item"><a style="color: black;" href="{% url 'website:collaboration' %}"><i class="fa-solid fa-handshake me-2"></i>Сотрудничество</a></li>
										<li class="dropdown-item"><a style="color: black;" href="{% url 'website:stock' %}"><i class="fa-solid fa-tags me-2"></i>Акции</a></li>
										<li class="dropdown-item"><a style="color: black;" href="{% url 'website:about' %}"><i class="fa-solid fa-info-circle me-2"></i>О нас</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- Main navbar END -->

						<!-- Toggler button and stay button -->
						<div class="d-flex align-items-center justify-content-end">
							<!-- Responsive navbar toggler -->
							<button class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryCollapse" aria-controls="navbarCategoryCollapse" aria-expanded="false" aria-label="Toggle navigation">
								<i style="color: black;" class="bi bi-grid-3x3-gap-fill fa-fw"></i><span class="d-none d-sm-inline-block small"></span>
							</button>

							<!-- Booking form dropdown START -->
							<div class="nav-item dropdown form-control-bg-light">
								<!-- Stay button -->
								{% if user.is_authenticated %}
									<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

									<!-- Notification dropdown START -->
									<li class="nav-item dropdown ms-0 ms-md-3">
										<!-- Notification button -->
										<a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
											<i class="bi bi-bell fa-fw"></i>
										</a>
										<!-- Notification dote -->
										{% if notifications %}
											<span class="notif-badge animation-blink"></span>
										{% endif %}
										<!-- Notification dropdown menu START -->
										<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
											<div class="card bg-transparent">
												<!-- Card header -->
												<div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
													<h6 class="m-0">Уведомления <span class="badge bg-danger bg-opacity-10 text-danger ms-2">{{ notifications|length }} новое</span></h6>
												</div>

												<!-- Card body START -->
												<div class="card-body p-0">
													<ul class="list-group list-group-flush list-unstyled p-2">
														{% for notification in notifications %}
														<li>
															<a href="{% url 'users:notifications' %}" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
																<h6 class="mb-2">{{ notification.event_type }}</h6>
																<p class="mb-0 small">{{ notification.message }}</p>
																<span>{{ notification.timestamp }}</span>
															</a>
														</li>
														{% endfor %}
													</ul>
												</div>
												<!-- Card body END -->

												<!-- Card footer -->
												<div class="card-footer bg-transparent text-center border-top">
													<a href="{% url 'users:notifications' %}" class="btn btn-sm btn-link mb-0 p-0">Посмотреть все</a>
												</div>
											</div>
										</div>
										<!-- Notification dropdown menu END -->
									</li>
									<!-- Notification dropdown END -->

									<!-- Profile dropdown START -->
									<li class="nav-item ms-3 dropdown">
										<!-- Avatar -->
										<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
											{% if user.photo %}
												<img class="avatar-img rounded-circle shadow" src="{{ user.photo.url }}" alt="avatar">
											{% else %}
												<img class="avatar-img rounded-circle shadow" src="{% static 'images/user.png' %}" alt="avatar">
											{% endif %}
										</a>

										<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
											<!-- Profile info -->
											<li class="px-3 mb-3">
												<div class="d-flex align-items-center">
													<!-- Avatar -->
													<div class="avatar me-3">
														{% if user.photo %}
															<img class="avatar-img rounded-circle shadow" src="{{ user.photo.url }}" alt="avatar">
														{% else %}
															<img class="avatar-img rounded-circle shadow" src="{% static 'images/user.png' %}" alt="avatar">
														{% endif %}
													</div>
													<div>
														<a class="h7 mt-2 mt-sm-0" style="color: green;" href="{% url 'users:profile' %}">{{user.first_name}} {{user.last_name}}</a>
														<p class="small m-0">{{ user.email }}</p>
													</div>
												</div>
											</li>

											<!-- Links -->
											<li> <hr class="dropdown-divider"></li>
											<li><a class="dropdown-item" href="{% url 'users:my-apartments' %}"><i class="bi bi-house fa-fw me-2"></i>Мои квартиры</a></li>

											<li><a class="dropdown-item" href="{% url 'users:favorites' %}"><i class="bi bi-heart fa-fw me-2"></i>Понравившиеся</a></li>
											{% if user.is_staff %}
											<li><a class="dropdown-item" href="{% url 'users:apartment_pending' %}"><i class="bi bi-people fa-fw me-2"></i>Заявки</a></li>
											{% endif %}
											<li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="bi bi-gear fa-fw me-2"></i>Настройки</a></li>
											<li><a class="dropdown-item" href="{% url 'website:support' %}"><i class="bi bi-info-circle fa-fw me-2"></i>Поддержка</a></li>
											{% if user.is_staff %}
												<li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-person fa-fw me-2"></i>Админ-панель</a></li>
											{% endif %}
											<li> <hr class="dropdown-divider"></li>
											<li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'users:logout' %}"><i class="bi bi-power fa-fw me-2"></i>Выйти</a></li>
										</ul>
										<style>
											.dropdown-item:hover, .dropdown-item:focus {
											  color: green;
											  background-color: #d2f4d2;
											}
										</style>
									</li>
									<!-- Profile dropdown END -->
								</ul>
								{% else %}
									<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
										<a style="background-color: #169916; color: white;" href="{% url 'users:signin' %}" class="btn mb-0">Войти</a>
									</ul>
								{% endif %}


							</div>
							<!-- Booking form dropdown END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>


<!-- **************** MAIN CONTENT START **************** -->
<main>


<!-- =======================
Main Title START -->

<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2">{{ detail.name }}</h1>
						<!-- Location -->
						<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>{{ detail.address }}
							<a style="color: green;" href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
								<i class="bi bi-eye-fill me-1"></i>Посмотреть на карте
							</a>
						</p>
					</div>

					{% if user.is_staff %}
					<ul class="list-inline text-end">

						<li class="list-inline-item">
							<a href="{% url 'apartments:apartaments_edit' pk=detail.pk %}" class="btn btn-sm btn-light px-2"><i style="margin-right: 2px;" class="fa-solid fa-fw fa-edit"></i>Изменить</a>
						</li>

					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Title and button END -->
	</div>
</section>

<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="pt-4">
	<div class="container">

		<!-- Slider START -->
		<div class="tiny-slider arrow-round arrow-blur">
			<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-edge="0" data-dots="false" data-items="2" data-items-sm="1">
				<!-- Slider item -->
				{% for image_url in detail.get_image_urls %}
				<div>
					<a class="w-100 h-100" data-glightbox="" data-gallery="gallery" href="{{ image_url }}">
						<div class="card card-element-hover card-overlay-hover overflow-hidden">
							<!-- Image -->
							<img src="{{ image_url }}" class="rounded-3" alt="">
							<!-- Full screen button -->
							<div class="hover-element w-100 h-100">
								<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}


			</div>
		</div>
		<!-- Slider START -->
	</div>
</section>

<section class="pt-0">
	<div class="container" data-sticky-container="">

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 order-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">Немного об этой квартире</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<h5 class="fw-light mb-4">Основные моменты</h5>


							<p class="mb-3"><b>{{ detail.description }}</b></p>

							{% if detail.video %}
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" href="{{ detail.video }}">
								 <h7 class="see-more ms-1">Посмотреть видео-обзор квартиры</h7><i class="bi bi-instagram ml-1"></i>
							</a>
							{% endif %}

{#							<!-- List -->#}
{#							<h5 class="fw-light mb-2">Преимущества</h5>#}
{#							<ul class="list-group list-group-borderless mb-0">#}
{#								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every hotel staff to have Proper PPT kit for COVID-19</li>#}
{#								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every staff member wears face masks and gloves at all service times.</li>#}
{#								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff ensures to maintain social distancing at all times.</li>#}
{#								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has In-Room Dining options available </li>#}
{#							</ul>#}
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Что входит?</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-biking me-2"></i>Что есть в квартире?</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										{% if detail.wifi %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Wi-Fi
										</li>
										{% endif %}

										{% if detail.air_conditioning %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Кондиционер
										</li>
										{% endif %}

										{% if detail.bath %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Ванна
										</li>
										{% endif %}

										{% if detail.orthopedic_mattress %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Ортопедический матрац
										</li>
										{% endif %}

										{% if detail.smart_tv %}
                                        <li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Smart Tv
										</li>
										{% endif %}

										{% if detail.hairdryer %}
                                        <li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Фен
										</li>
										{% endif %}

										{% if detail.iron %}
                                        <li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Утюг
										</li>
										{% endif %}

										{% if detail.washing_machine %}
                                        <li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Стиральная машинка
										</li>
										{% endif %}

										{% if detail.fridge %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Холодильник
										</li>
										{% endif %}

										{% if detail.electric_kettle %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Электрический чайник
										</li>
										{% endif %}

										{% if detail.plate %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Плита
										</li>
										{% endif %}

										{% if detail.mini_bar %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Мини Бар
										</li>
										{% endif %}

										{% if detail.hygiene %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Гигиенические принадлежности
										</li>
										{% endif %}

										{% if detail.dishes %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Посуда
										</li>
										{% endif %}

										{% if detail.shower %}
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Душ
										</li>
										{% endif %}
									</ul>
								</div>

								<!-- Payment Method -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-credit-card me-2"></i>Способ оплаты</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Kaspi Bank
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Halyk Bank
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Наличными
										</li>
									</ul>
								</div>



								<!-- Safety & Security -->
								<div class="col-sm-6">
									<h6><i class="bi bi-shield-fill-check me-2"></i>Безопасность</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Служба безопасности 24/7

										</li>
                                        <li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Умный замок
										</li>

										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Сейф
										</li>

									</ul>
								</div>

							</div>
						</div>
						<!-- Card body END -->
					</div>

                    <div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">Регламент проживания:</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">

							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Заезд: с 14:00 часов
								</li>
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Выезд: до 12:00 часов
								</li>
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Курить запрещается
								</li>
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Не нарушать тишину после 23:00
								</li>
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="bi bi-arrow-right me-2"></i>Проживание с животными - запрещается!
								</li>
							</ul>
						</div>
						<!-- Card body END -->
					</div>
			

					<!-- Customer Review START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Комментарии</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0" >
							<!-- Progress bar and rating START -->
							<div class="card bg-light p-4 mb-4">
								<div class="row g-4 align-items-center">
									<!-- Rating info -->
									<div class="col-md-4">
										<div class="text-center">
											<!-- Info -->
											<h2 class="mb-0">4.5</h2>
											<p class="mb-2">На основе {{ comments.count }} отзывов</p>
											<!-- Star -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
											</ul>
										</div>
									</div>

									<!-- Progress-bar START -->
									<div class="col-md-8">
										<div class="card-body p-0">
											<div class="row gx-3 g-2 align-items-center">
												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">85%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">75%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">60%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">35%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">15%</span>
												</div>
											</div> <!-- Row END -->
										</div>
									</div>
									<!-- Progress-bar END -->

								</div>
							</div>
							<!-- Progress bar and rating END -->

							<!-- Leave review START -->
							<form class="mb-5" method="post">
                                {% csrf_token %}
								<!-- Message -->
								<div class="form-control-bg-light mb-3">
                                    {{ comment_form.as_p }}
								</div>
								<!-- Button -->
								<button type="submit" class="btn btn-lg btn-primary mb-0">Опубликовать <i class="bi fa-fw bi-arrow-right ms-2"></i></button>
							</form>
							<!-- Leave review END -->

                            {% for comment in comments|dictsortreversed:"created_at"|slice:":3" %}
                                <hr>
							<div class="d-md-flex my-4" >
								<!-- Avatar -->
								<div class="avatar avatar-lg me-3 flex-shrink-0">
									<img class="avatar-img rounded-circle" src="{% static 'images/user.png' %}" alt="avatar">
								</div>
								<!-- Text -->
								<div>
									<div class="d-flex justify-content-between mt-1 mt-md-0">
										<div>
											<h6 class="me-3 mb-0">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
											<!-- Info -->
											<ul class="nav nav-divider small mb-2">
												<li class="nav-item">{{ comment.created_at }}</li>
											</ul>
										</div>
									</div>

									<p class="mb-2">{{ comment.text }}</p>

								</div>
							</div>
                            {% endfor %}



							<hr>

							<!-- Button -->
							<div class="text-center">
                                <button class="btn btn-primary-soft mb-0" id="load-more-button">Показать больше</button>
                            </div>
                            <div id="additional-comments-container">
                                <!-- Здесь будут отображаться дополнительные комментарии -->
                            </div>
                            <script>
                                $(document).ready(function() {
                                    $("#load-more-button").on("click", function(e) {
                                        e.preventDefault();

                                        // Получите URL, по которому будет выполняться AJAX-запрос (замените его на ваш реальный URL)
                                        var url = "/your-api-endpoint-for-additional-comments/";

                                        // Выполните AJAX-запрос
                                        $.ajax({
                                            url: url,
                                            method: "GET",
                                            dataType: "json",
                                            success: function(data) {
                                                // Обработка успешного запроса - data содержит загруженные комментарии

                                                // Здесь вы можете добавить дополнительные комментарии в контейнер
                                                var additionalCommentsContainer = $("#additional-comments-container");
                                                // Например, data.comments - это массив с комментариями
                                                for (var i = 0; i < data.comments.length; i++) {
                                                    var comment = data.comments[i];
                                                    // Создайте элементы для отображения комментариев и добавьте их в контейнер
                                                    var commentElement = '<div class="comment">' + comment.text + '</div>';
                                                    additionalCommentsContainer.append(commentElement);
                                                }

                                                // Если больше нет комментариев, скройте кнопку "Показать больше"
                                                if (!data.hasMoreComments) {
                                                    $("#load-more-button").hide();
                                                }
                                            },
                                            error: function() {
                                                // Обработка ошибки AJAX-запроса
                                            }
                                        });
                                    });
                                });

                            </script>
						</div>
						<!-- Card body END -->
					</div>

				</div>
			</div>
			<!-- Content END -->

			<!-- Right side content START -->
			<aside class="col-xl-5 order-xl-2">
				<div data-sticky="" data-margin-top="100" data-sticky-for="1199">
					<!-- Book now START -->
					<div class="card card-body border">

						<!-- Title -->
						<div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
							<div>
								<span>Цена</span>
								<h4 class="card-title mb-0">{{ detail.price }} тг</h4>
							</div>
							<div>
								<h6 class="fw-normal mb-0">{{ detail.room }} комнатная</h6>
								<small>{{ detail.square }} м2</small>
							</div>
						</div>

						<!-- Rating -->
						<ul class="list-inline mb-3">
							<li class="list-inline-item me-1 h6 fw-light mb-0"><i class="bi bi-arrow-right me-2"></i>4.5</li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
						</ul>


						<div class="d-grid">
							{% if owner_phone %}
								<a href="tel:{{ owner_phone }}" class="btn btn-lg btn-primary-soft btn-green mb-0">Позвонить</a>
							{% else %}
								<a href="tel:+77787066100" class="btn btn-lg btn-primary-soft btn-green mb-0">Позвонить</a>
							{% endif %}
						</div>

                        <div class="d-grid">
							<a href="" class="btn btn-lg btn-primary-soft mb-0 mt-2" data-toggle="modal" data-target="#reservationModal">Забронировать</a>
						</div>
					</div>
                    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reservationModalLabel">Бронирование</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Вставьте сюда вашу форму бронирования -->
                                        <form id="reservationForm" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="apartment_id" value="{{ apartment.id }}">

                                            <div class="form-group">
                                                <label for="name">Имя</label>
                                                <input type="text" class="form-control" value="{{ user.first_name }}" id="name" name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="surname">Фамилия</label>
                                                <input type="text" class="form-control" value="{{ user.last_name }}" id="surname" name="surname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Номер телефона</label>
                                                <input type="tel" class="form-control" value="{{ user.phone_number }}" id="phone" name="phone" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button style="background-color: green; color: white;" type="submit" class="btn">Забронировать</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
					<!-- Book now END -->

					<!-- CALENDAR -->
					<div class="mt-4">

						<div class="card shadow rounded-3 overflow-hidden">
							<div class="row g-0 align-items-center">
								<link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />
								<style>
									#calendar {
										max-width: 1100px;
										margin: 0 auto;
										padding: 20px;
										background-color: #ffffff;
										border-radius: 8px;
										box-shadow: 0 4px 6px rgba(0,0,0,0.1);
									}

									.fc-toolbar-title {
										font-size: 24px;
										font-weight: bold;
									}

									.fc-button-primary {
										background-color: green;
										border-color: green;
										color: #ffffff;
									}

									.fc-button-primary:hover {
										background-color: green;
										border-color: green;
									}

									.fc-day-occupied {
										background-color: red !important;
									}

									.fc-toolbar-title {
										color: green;
									}

									table {
										border-radius: 10px;
									}

									.fc-toolbar-chunk {
										font-size: 12px;
									}

									/* Модальное окно */
									.modal {
									  display: none; /* Скрыть по умолчанию */
									  position: fixed; /* Положение фиксированное */
									  z-index: 1; /* Положение поверх остального контента */
									  left: 0;
									  top: 0;
									  width: 100%; /* Ширина на весь экран */
									  height: 100%; /* Высота на весь экран */
									  overflow: auto; /* Добавить прокрутку, если контент слишком высокий */
									  background-color: rgb(0, 0, 0); /* Цвет фона */
									  background-color: rgba(0, 0, 0, 0.4); /* Цвет фона с прозрачностью */
									}

									/* Контент модального окна */
									.modal-content {
									  background-color: #fefefe;
									  margin: 15% auto; /* Отступы сверху и снизу, автоматические по бокам */
									  padding: 20px;
									  border: 1px solid #888;
									  width: 80%; /* Ширина */
									}

									/* Закрыть кнопку */
									.close {
									  color: #aaa;
									  float: right;
									  font-size: 28px;
									  font-weight: bold;
									}

									.close:hover,
									.close:focus {
									  color: black;
									  text-decoration: none;
									  cursor: pointer;
									}


								</style>

								<div id='calendar'></div>

								<div id="myModal" class="modal">
								  <div class="modal-content">
									<span class="close">&times;</span>
									<p id="modal-message"></p>
								  </div>
								</div>

								<script>
									function getCsrfToken() {
										let csrfToken = null;
										if (document.cookie && document.cookie !== '') {
											const cookies = document.cookie.split(';');
											for (let i = 0; i < cookies.length; i++) {
												const cookie = cookies[i].trim();
												if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
													csrfToken = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
													break;
												}
											}
										}
										return csrfToken;
									}
								</script>

								<script>
									document.addEventListener('DOMContentLoaded', function() {
									  var modal = document.getElementById('myModal');
									  var span = document.getElementsByClassName('close')[0];
									  var modalMessage = document.getElementById('modal-message');

									  span.onclick = function() {
										modal.style.display = 'none';
									  };

									  window.onclick = function(event) {
										if (event.target == modal) {
										  modal.style.display = 'none';
										}
									  };

									  var calendarEl = document.getElementById('calendar');
									  var APARTMENT_ID = '{{ detail.id }}'; // Убедитесь, что это значение корректно передается в шаблон
									  var CSRFTOKEN = getCsrfToken(); // Получаем CSRF токен

									  var calendar = new FullCalendar.Calendar(calendarEl, {
										locale: 'ru',
										initialView: 'dayGridMonth',
										// Другие настройки...
										dateClick: function(info) {
										  fetch(`/apartments/apartaments-detail/${APARTMENT_ID}/toggle-booking/`, {
											method: 'POST',
											headers: {
											  'Content-Type': 'application/x-www-form-urlencoded',
											  'X-CSRFToken': CSRFTOKEN
											},
											body: `date=${info.dateStr}`
										  })
											.then(response => response.json())
											.then(data => {
											  console.log(data); // Проверим, что данные правильно получены
											  var dayEl = info.dayEl;
											  dayEl.classList.remove('fc-day-occupied'); // Сначала удалим класс, если он есть

											  if (data.status === 'created') {
												dayEl.classList.add('fc-day-occupied'); // Добавим класс, если день занят
												showModal('Квартира забронирована.');
											  } else {
													showModal('Квартира свободна.');
											  }

											  calendar.refetchEvents(); // Обновим календарь
											})
											.catch(error => {
											  console.error('Ошибка:', error);
											});
										}
									  });

									  calendar.render();

									  function showModal(message) {
										modalMessage.textContent = message;
										modal.style.display = 'block';
									  }
									});


								</script>


							</div>
						</div>

					</div>
					<!-- CALENDAR END -->
				</div>
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About hotel END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<footer class="bg-dark pt-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-3">
				<a href="{% url 'website:home' %}" style="display: flex;">
					<img class="h-40px" style="border-radius: 50px;" src="{% static 'images/logo.jpg' %}" alt="logo">
					<p style="margin: auto; margin-left: 10px; color: white;"><b>BonApart</b></p>
				</a>
				<p class="my-3 text-body-secondary">BonApart - больше чем просто крыша!</p>
				<p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+7 (778) 248 01 09</a> </p>
				<p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+7 (747) 496 69 06</a> </p>
				<p class="mb-0"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-envelope me-2"></i>bonapart.astana@gmail.com</a></p>
			</div>


			<div class="col-lg-8 ms-auto">
				<div class="row g-4">

					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Страницы</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:home' %}">Главная</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'apartments:apartments' %}">Квартиры</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:stock' %}">Акции</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:collaboration' %}">Сотрудничество</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:transfers' %}">Трансфер</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:about' %}">О нас</a></li>
						</ul>
					</div>


					<div class="col-6 col-md-3">
                        <h5 class="text-white mb-2 mb-md-4">Ссылки</h5>
                        <ul class="nav flex-column text-primary-hover">
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:support' %}">Поддержка</a></li>
                            {% else %}
                                <!-- Показать ссылки, если пользователь не аутентифицирован -->
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'users:signup' %}">Регистрация</a></li>
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'users:signin' %}">Войти</a></li>
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:support' %}">Поддержка</a></li>
                            {% endif %}
                        </ul>
                    </div>

					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">BonApart</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="https://wa.link/yzcce5">WhatsApp</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="https://www.instagram.com/bonapart.ast?igsh=MXhjZzlua2R6dzkwdQ%3D%3D&utm_source=qr">Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>


		</div>



		<div class="row g-4 justify-content-between mt-0 mt-md-2">


			<div class="col-sm-5 col-lg-1 text-sm-end">
				<h5 class="text-white mb-2">Подпишись</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="https://www.instagram.com/bonapart.ast?igsh=MXhjZzlua2R6dzkwdQ%3D%3D&utm_source=qr"><i class="fab fa-fw fa-instagram"></i></a> </li>
				</ul>
			</div>
		</div>

		<hr class="mt-4 mb-0">

		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<div class="text-body-secondary text-primary-hover"> Copyrights ©2023 BonApart. Создано <a href="http://workbenchkz.pythonanywhere.com/" class="text-body-secondary">WorkBench</a></div>
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url 'website:privacy_policy' %}">Политика конфиденциальности</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url 'website:terms' %}">Условия использования</a></li>
							{% if user.is_authenticated %}
								<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="{% url 'website:support' %}">Поддержка</a></li>
							{% else %}
								<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="https://wa.link/8z2wor">Поддержка</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Map modal START -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title" id="mapmodalLabel">{{ detail.address }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">
				{% if geo.photo %}
					<img src="{{ geo.photo.url }}">
				{% else %}
					<img src="{% static 'images/2gis.jpg' %}">
				{% endif %}
			</div>
			<!-- Button -->
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary mb-0">
					<a href="{{ geo.link }}" target="{{ geo.link }}" class="text-white">
							<i class="bi fa-fw bi-pin-map-fill me-2"></i>Посмотреть в 2Гис
					</a>
				</button>

			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->

<!-- Back to top -->
<style>
.back-top {
    position: fixed; /* Fixed position so it stays on the screen */
    left: 20px; /* Adjust the left position as needed */
    bottom: 20px; /* Adjust the bottom position as needed */
    background-color: #169916; /* Background color of the button */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    z-index: 1000; /* Make sure it's above other elements */
}
</style>

<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src='https://unpkg.com/fullcalendar@5/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/core/locales/ru.js'></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'js/glightbox.js' %}"></script>
<script src="{% static 'js/flatpickr.min.js' %}"></script>
<script src="{% static 'js/choices.min.js' %}"></script>
<script src="{% static 'js/tiny-slider.js' %}"></script>


<!-- ThemeFunctions -->
<script src="{% static 'js/functions.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
