<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light"><head>
	<title>BonApart - Аренда квартир.</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="bonapart.com">
	<meta name="description" content="BonApart - Аренда квартир.">
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/glightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/choices.min.css' %}">


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        .nav-pills-primary-soft .nav-link.active, .nav-pills-primary-soft .nav-link:hover {
          color: green;
          background-color: #d2f4d2;
        }
        .bg-primary {
          --bs-bg-opacity: 1;
          background-color: #169916 !important;
        }
        .btn.btn-primary.mb-0 {
          background-color: #169916;
          border-color: #169916;
        }
        .btn.btn-dark.mb-0 {
          background-color: var(--bs-btn-hover-color);
          color: black;
          border-color: var(--bs-btn-hover-color);
        }

        @media (max-width: 768px) {
            .green-background {
                background-color: #169916; /* Your preferred shade of green */
            }
        }

    </style>
</head>

<body>

<header class="navbar-light header-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand d-flex align-items-center" href="{% url 'website:home' %}">
			    <img style="border-radius: 50px;" class="light-mode-item navbar-brand-item" src="{% static 'images/logo.jpg' %}" alt="logo">
			    <p style="margin: 0; padding: 0; margin-left: 8px;"><b>BonApart</b></p>
			</a>

			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

			</button>

			<!-- Responsive category toggler -->
			<button class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryCollapse" aria-controls="navbarCategoryCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="bi bi-grid-3x3-gap-fill fa-fw"></i><span class="d-none d-sm-inline-block small">Категории</span>
			</button>


			<!-- Nav category menu START -->
			<div class="navbar-collapse collapse" id="navbarCategoryCollapse">
				<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center mx-auto p-2 p-xl-0">
					<!-- Nav item Hotel -->
					<li class="nav-item"> <a class="nav-link active" href="{% url 'website:home' %}"><i class="fa-solid fa-hotel me-2"></i>Главная</a>	</li>

					<!-- Nav item Cabs -->
					<li class="nav-item"><a class="nav-link" href="{% url 'website:apartments' %}"><i class="fa-solid fa-building me-2"></i>Квартиры</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'website:stock' %}"><i class="fa-solid fa-tags me-2"></i>Акции</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'website:collaboration' %}"><i class="fa-solid fa-handshake me-2"></i>Сотрудничество</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'website:transfers' %}"><i class="fa-solid fa-shuttle-van me-2"></i>Трансфер</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'website:about' %}"><i class="fa-solid fa-info-circle me-2"></i>О нас</a></li>

				</ul>
			</div>
			<!-- Nav category menu END -->

			<!-- Profile and Notification START -->
			{% if user.is_authenticated %}
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Notification dropdown START -->
				<li class="nav-item dropdown ms-0 ms-md-3">
					<!-- Notification button -->
					<a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
						<i class="bi bi-bell fa-fw"></i>
					</a>
					<!-- Notification dote -->
                    {% if notifications %}
					    <span class="notif-badge animation-blink"></span>
                    {% endif %}
					<!-- Notification dropdown menu START -->
					<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
						<div class="card bg-transparent">
							<!-- Card header -->
							<div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
								<h6 class="m-0">Уведомления <span class="badge bg-danger bg-opacity-10 text-danger ms-2">{{ notifications|length }} новое</span></h6>
							</div>

							<!-- Card body START -->
							<div class="card-body p-0">
								<ul class="list-group list-group-flush list-unstyled p-2">
									{% for notification in notifications %}
									<li>
										<a href="{% url 'users:notifications' %}" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
											<h6 class="mb-2">{{ notification.event_type }}</h6>
											<p class="mb-0 small">{{ notification.message }}</p>
											<span>{{ notification.timestamp }}</span>
										</a>
									</li>
                                    {% endfor %}
								</ul>
							</div>
							<!-- Card body END -->

							<!-- Card footer -->
							<div class="card-footer bg-transparent text-center border-top">
								<a href="{% url 'users:notifications' %}" class="btn btn-sm btn-link mb-0 p-0">Посмотреть все</a>
							</div>
						</div>
					</div>
					<!-- Notification dropdown menu END -->
				</li>
				<!-- Notification dropdown END -->

				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						{% if user.photo %}
							<img class="avatar-img rounded-circle shadow" src="{{ user.photo.url }}" alt="avatar">
						{% else %}
							<img class="avatar-img rounded-circle shadow" src="{% static 'images/user.png' %}" alt="avatar">
						{% endif %}
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									{% if user.photo %}
										<img class="avatar-img rounded-circle shadow" src="{{ user.photo.url }}" alt="avatar">
									{% else %}
										<img class="avatar-img rounded-circle shadow" src="{% static 'images/user.png' %}" alt="avatar">
									{% endif %}
								</div>
								<div>
									<a class="h7 mt-2 mt-sm-0" style="color: green;" href="{% url 'users:profile' %}">{{user.first_name}} {{user.last_name}}</a>
									<p class="small m-0">{{ user.email }}</p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>

						<li><a class="dropdown-item" href="{% url 'users:favorites' %}"><i class="bi bi-heart fa-fw me-2"></i>Понравившиеся</a></li>
						<li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="bi bi-gear fa-fw me-2"></i>Настройки</a></li>
						<li><a class="dropdown-item" href="{% url 'website:support' %}"><i class="bi bi-info-circle fa-fw me-2"></i>Поддержка</a></li>
                        {% if user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-person fa-fw me-2"></i>Админ-панель</a></li>
                        {% endif %}
						<li> <hr class="dropdown-divider"></li>
						<li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'users:logout' %}"><i class="bi bi-power fa-fw me-2"></i>Выйти</a></li>
					</ul>
                    <style>
                        .dropdown-item:hover, .dropdown-item:focus {
                          color: green;
                          background-color: #d2f4d2;
                        }
                    </style>
				</li>
				<!-- Profile dropdown END -->
			</ul>
			{% else %}
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
					<a href="{% url 'users:signin' %}" class="btn btn-primary mb-0">Войти</a>
				</ul>
			{% endif %}
			<!-- Profile and Notification START -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="pt-0">
	<div class="container">
		<!-- Hero banner START -->
		<div class="row">
			<div class="col-12">
				<!-- Card START -->
				<div class="card card-body bg-primary justify-content-center text-center px-4 px-sm-5 pt-6 pt-md-8 pb-8" style="background-image: url({% static 'images/bg-pattern.png' %}); background-position: center center; background-repeat: no-repeat; background-size: cover;">
					<!-- Title -->
					<h1 class="fs-2 text-white mb-4">How Can We Help You?</h1>


				</div>
				<!-- Card END -->
			</div>
		</div>
		<!-- Hero banner END -->

		<!-- Topics START -->
		<div class="row g-4 mt-n8">
			<div class="col-10 col-lg-11 col-xl-10 mx-auto">
				<div class="row g-4">
					<div class="col-lg-4">
						<!-- Get started START -->
						<div class="card shadow h-100">
							<!-- Title -->
							<div class="card-header d-flex align-items-center pb-0">
								<i class="bi bi-emoji-smile fs-2 text-success me-2"></i>
								<h5 class="card-title mb-0">Get Started </h5>
							</div>

							<!-- List START -->
							<div class="card-body pt-0">
								<ul class="nav flex-column">
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Gulp and Customization</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Color Scheme and Logo Settings</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Dark mode, RTL Version, and Lazy Load</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Updates and Support</a></li>
								</ul>
							</div>
							<!-- List END -->
						</div> 
						<!-- Get started END --> 
					</div>

					<div class="col-lg-4">
						<!-- Account Setup START -->
						<div class="card shadow h-100">
							<!-- Title -->
							<div class="card-header border-0 d-flex align-items-center pb-0">
								<i class="bi bi-layers fs-2 text-warning me-2"></i>
								<h5 class="card-title mb-0">Account Setup:</h5>
							</div>
							<!-- List START -->
							<div class="card-body pt-0">
								<ul class="nav flex-column">
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Connecting to your Account</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Edit your profile information</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Connecting to other Social Media Accounts</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Adding your profile picture</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Describing your store</a></li>
								</ul>
							</div>
							<!-- List END -->
						</div>  
						<!-- Account Setup END -->
					</div>

					<div class="col-lg-4">
						<!-- Other Topics START -->
						<div class="card shadow h-100">
							<!-- Title -->
							<div class="card-header border-0 d-flex align-items-center pb-0">
								<i class="bi bi-info-circle fs-2 text-info me-2"></i>
								<h5 class="card-title mb-0">Other Topics </h5>
							</div>

							<!-- List START -->
							<div class="card-body pt-0">
								<ul class="nav flex-column">
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Security &amp; Privacy</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Author, Publisher &amp; Admin Guides</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Pricing plans</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Sales Tax &amp; Regulatory Fees</a></li>
									<li class="nav-item"><a class="nav-link d-flex" href="help-detail.html"><i class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>Promotions &amp; Deals</a></li>
								</ul>
							</div>
							<!-- List END -->
						</div>  
						<!-- Other Topics END -->
					</div>
				</div>	
			</div>
		</div>
		<!-- Topics END -->

	</div>
</section>
<!-- =======================
Main banner END -->



<section class="pt-0 pt-lg-5">
	<div class="container">
		<div class="row g-4 justify-content-center">
			<!-- Action box item -->
			<div class="col-md-6 position-relative overflow-hidden">
				<div class="bg-primary bg-opacity-10 rounded-3 h-100 p-4">
					<!-- Content -->
					<div class="d-flex">
						<!-- Icon -->
						<div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-headset"></i></div>
						<!-- Content -->
						<div class="ms-3">
							<h4 style="color: white;" class="mb-1">Contact Support?</h4>
							<p style="color: white;" class="mb-3">Not finding the help you need?</p>
							<a href="contact-2.html" class="btn btn-dark mb-0">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- =======================
Popular article START -->
<section class="pt-0 pt-lg-5">
	<div class="container">

		<!-- Title -->
		<div class="row">
			<div class="col-12 text-center mb-4">
				<h2 class="mb-0">Popular Article</h2>
			</div>
		</div>

		<!-- Articles -->
		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-blur arrow-hover">
				<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-edge="2" data-dots="false" data-items-xl="3" data-items-lg="2" data-items-sm="1">
					
					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">10 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Upgrade Gulp 3 to Gulp 4 the gulp file.js workflow</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>15 min ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>10</span>
									<span><i class="fa-regular fa-comments me-2"></i>25</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">5 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Supporting Customer With Inbox</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>25 min ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>05</span>
									<span><i class="fa-regular fa-comments me-2"></i>08</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">3 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Sending Effective Emails to customer</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>2 hour ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>02</span>
									<span><i class="fa-regular fa-comments me-2"></i>05</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">10 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Upgrade Gulp 3 to Gulp 4 the gulp file.js workflow</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>15 min ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>10</span>
									<span><i class="fa-regular fa-comments me-2"></i>25</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">5 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Supporting Customer With Inbox</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>25 min ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>05</span>
									<span><i class="fa-regular fa-comments me-2"></i>08</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide item -->
					<div>
						<div class="card card-body bg-transparent border p-4 mb-1">
							<!-- Pre title -->
							<h6 class="text-primary fw-normal mb-2">3 Articles</h6>
							<!-- Title -->
							<h5 class="card-title mb-md-4"><a href="#" class="stretched-link">Sending Effective Emails to customer</a></h5>
							<!-- Info -->
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<span>2 hour ago</span>
								<!-- Actions -->
								<div class="hstack gap-3 flex-wrap fw-bold">
									<span><i class="fa-solid fa-thumbs-up me-2"></i>02</span>
									<span><i class="fa-regular fa-comments me-2"></i>05</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>	
		</div>

	</div>
</section>
<!-- =======================
Popular article END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<footer class="bg-dark pt-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-3">
				<a href="{% url 'website:home' %}" style="display: flex;">
					<img class="h-40px" style="border-radius: 50px;" src="{% static 'images/logo.jpg' %}" alt="logo">
					<p style="margin: auto; margin-left: 10px; color: white;"><b>BonApart</b></p>
				</a>
				<p class="my-3 text-body-secondary">BonApart - больше чем просто крыша!</p>
				<p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+7 (778) 980 71 02</a> </p>
				<p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+7 (778) 706 61 00</a> </p>
				<p class="mb-0"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-envelope me-2"></i>example@gmail.com</a></p>
			</div>


			<div class="col-lg-8 ms-auto">
				<div class="row g-4">

					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Страницы</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:home' %}">Главная</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:apartments' %}">Квартиры</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:stock' %}">Акции</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:collaboration' %}">Сотрудничество</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:transfers' %}">Трансфер</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:about' %}">О нас</a></li>
						</ul>
					</div>


					<div class="col-6 col-md-3">
                        <h5 class="text-white mb-2 mb-md-4">Ссылки</h5>
                        <ul class="nav flex-column text-primary-hover">
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:support' %}">Поддержка</a></li>
                            {% else %}
                                <!-- Показать ссылки, если пользователь не аутентифицирован -->
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'users:signup' %}">Регистрация</a></li>
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'users:signin' %}">Войти</a></li>
                                <li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'website:support' %}">Поддержка</a></li>
                            {% endif %}
                        </ul>
                    </div>

					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">BonApart</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="https://wa.link/yzcce5">WhatsApp</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="https://www.instagram.com/bonapart_ast/">Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>


		</div>



		<div class="row g-4 justify-content-between mt-0 mt-md-2">


			<div class="col-sm-5 col-lg-1 text-sm-end">
				<h5 class="text-white mb-2">Подпишись</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="https://www.instagram.com/bonapart_ast/"><i class="fab fa-fw fa-instagram"></i></a> </li>
				</ul>
			</div>
		</div>

		<hr class="mt-4 mb-0">

		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<div class="text-body-secondary text-primary-hover"> Copyrights ©2023 BonApart. Создано <a href="http://workbenchkz.pythonanywhere.com/" class="text-body-secondary">WorkBench</a></div>
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url 'website:privacy_policy' %}">Политика конфиденциальности</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url 'website:terms' %}">Условия использования</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="{% url 'website:support' %}">Поддержка</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'js/tiny-slider.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'js/functions.js' %}"></script>


</body></html>