<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light"><head>
	<title>BonApart - Аренда квартир.</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="bonapart.com">
	<meta name="description" content="BonApart - Аренда квартир.">



	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/glightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/choices.min.css' %}">


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>


<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Content START -->
<section class="vh-xxl-100">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0">
						<!-- Vector Image -->
						<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="{% static 'images/signin.svg' %}" alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>

						<!-- Information -->
						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-7">
								<!-- Logo -->
								<a href="index.html">
									<img class="h-50px mb-4" src="{% static 'images/logo-icon.svg' %}" alt="logo">
								</a>
								<!-- Title -->
								<h1 class="mb-2 h3">Добро пожаловать!</h1>
								<p class="mb-0">Нет аккаунта?<a href="{% url 'users:signup' %}"> Создать аккаунт!</a></p>

								<!-- Form START -->
								<form class="mt-4 text-start" method="post">
									{% csrf_token %}
									{{ form.as_p }}
<!--									&lt;!&ndash; Email &ndash;&gt;-->
<!--									<div class="mb-3">-->
<!--										<label class="form-label">Логин</label>-->
<!--										<input type="email" class="form-control">-->
<!--									</div>-->
<!--									&lt;!&ndash; Password &ndash;&gt;-->
<!--									<div class="mb-3 position-relative">-->
<!--										<label class="form-label">Пароль</label>-->
<!--										<input class="form-control fakepassword" type="password" id="psw-input">-->
<!--										<span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">-->
<!--											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--									&lt;!&ndash; Remember me &ndash;&gt;-->
									<div class="mb-3 d-sm-flex justify-content-between">
										<div>
											<input type="checkbox" class="form-check-input" id="rememberCheck">
											<label class="form-check-label" for="rememberCheck">Запомнить меня</label>
										</div>
										<a href="forgot-password.html">Забыли пароль?</a>
									</div>
									<!-- Button -->
									<div><button type="submit" class="btn btn-primary w-100 mb-0">Войти</button></div>



									<!-- Copyright -->
									<div class="text-primary-hover text-body mt-3 text-center"> Copyrights ©2023 BonApart. Создал <a href="http://workbenchkz.pythonanywhere.com/" class="text-body">WorkBench</a>. </div>
								</form>
								<!-- Form END -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'js/functions.js' %}"></script>


</body></html>
