<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>
	<title>BonApart - Аренда квартир.</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="bonapart.com">
	<meta name="description" content="BonApart - Аренда квартир.">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        .btn.btn-primary.mb-0 {
          background-color: #169916;
          border-color: #169916;
        }
    </style>

</head>

<body>
<!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/65432483f2439e1631eadedd/1he74d9d4';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Content START -->
<section class="vh-xxl-100">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0">
						<!-- Vector Image -->
						<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="{% static 'images/signin.svg' %}" alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>

						<!-- Information -->
						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-6">
								<!-- Logo -->
								<a class="navbar-brand d-flex align-items-center justify-content-center mb-4" href="{% url 'website:home' %}">
                                    <img style="border-radius: 50px; width: 50px;" class="light-mode-item navbar-brand-item" src="{% static 'images/logo.jpg' %}" alt="logo">
                                    <p style="margin: 0; padding: 0; margin-left: 8px; font-size: 30px; color: black;"><b>BonApart</b></p>
                                </a>
								<!-- Title -->
								<h1 class="mb-2 h3">Новый аккаунт</h1>
								<p class="mb-0">Есть аккаунт?<a href="{% url 'users:signin' %}"> Войти</a></p>

								<!-- Form START -->
								<form class="mt-4 text-start" method="post">
									{% csrf_token %}
										{{ form.as_p }}
									<!-- Remember me -->
									<div class="mb-3">
										<input type="checkbox" class="form-check-input" id="rememberCheck">
										<label class="form-check-label" for="rememberCheck">Запомнить меня</label>
									</div>
									<!-- Button -->
									<div><button type="submit" class="btn btn-primary w-100 mb-0">Зарегистрироваться</button></div>

									<!-- Copyright -->
									<div class="text-primary-hover text-body mt-3 text-center"> Copyrights ©2023 BonApart. Создал <a href="http://workbenchkz.pythonanywhere.com/" class="text-body">WorkBench</a>. </div>
								</form>
								<!-- Form END -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'js/functions.js' %}"></script>


</body></html>
